.container {
    padding: 20px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #f0f0f0 !important;
}

.image {
    width: 100%;
    height: auto;
}

.headNav,
.selectContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}